* {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
	background-image: url('../images/drowsybgblue.png');
}
.checkout {
	margin-top: 20px;
}
.bg-white {
	border-radius: 10px;
	padding: 20px;
}
.btn {
	border-radius: 10px;
}
h3 {
	border-radius: 10px;
	padding: 10px;
	background-color: #eee;
}