@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@media screen and (max-width: 300px)
{}

@font-face {
  font-family: 'Franklin Gothic Heavy Regular';
  src: url('../Franklin Gothic Heavy Regular.ttf');
}

* {
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-image:  url("../images/drowsybgblue.png");
    background-color:#b5d0ea;
}

.signup {
  margin:100px;
  margin-top:30px;
}

.row {
  margin:10px;
}

p {
  font-size:90%;
  color:gray;
}

h1 {
  text-align: center;
  margin-top: 70px;
  font-size: 400%;
}