@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@media screen and (max-width: 300px)
{}

@font-face {
  font-family: 'Franklin Gothic Heavy Regular';
  src: url('../Franklin Gothic Heavy Regular.ttf');
}

* {
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


img {
    width: 190px;
    margin-left: 10px;
}

body {
    background-image:  url("../images/drowsybgnotext.png");
    background-color:#b5d0ea;
}

h1, h6 {
  text-align: center;
  font-family: 'Franklin Gothic Heavy Regular', 'sans-serif';
}