@font-face {
    font-family: 'Franklin Gothic Heavy Regular';
    src: url('../Franklin Gothic Heavy Regular.ttf');
  }

* {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-image:  url("../images/drowsybgnotext.png");
    background-color:#b5d0ea;
}

.signin {
    margin:100px;
    margin-top:30px;
  }
  
  .row {
    margin:10px;
  }
  
  p, h6 {
    font-size:90%;
    color:gray;
  }
  
  h1 {
    text-align: center;
    margin-top: 70px;
    font-size: 400%;
  }
  