img {
    width: 190px;
    margin-left: 10px;
}

body {
    background-image:  url("../images/drowsybg.png");
    background-color:#b5d0ea;
    size-adjust: 120%;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #87a6cc;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 30px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    color: white;
  }