@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

img {
    width: 190px;
    margin-left: 10px;
}


@font-face {
  font-family: 'Franklin Gothic Heavy Regular';
  src: url('../Franklin Gothic Heavy Regular.ttf');
}

* {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.dot {
  color: white;
  position: absolute;
  top: 37px;
  left: 195px;
  text-decoration: none;
  font-size: 30px;
}

.btn-outline-success {
  color: rgb(0, 0, 0);
}

body {
    background-image:  url("../images/drowsybg.png");
    background-color:#b5d0ea;
}

.navbar-custom {
  background-color: #87a6cc;
}

.nav-link {
  color:white;
}

main {
  background-color: #87a6cc;
}

#sweater {
width: 100%;
height: auto;
}

ul {
  color: grey;
}

.image-container {
  position: relative;
  display: inline-block;
}

.see-more {
  position: absolute;
  bottom: 40px;
  right: 0;
  margin-right: 40px;
  background-color: black;
  color: white;
  padding: 7px;
  text-decoration: none;
  font-size: 16px;
  opacity: 0.5;
  border-radius: 10px;
}

.see-more:hover {
  opacity: 1;
}
